* {
  font-family: "Roboto", sans-serif;
  justify-content: center;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 3px;
}   
body {
    min-width:200px;
}
p{
    font-weight: 500;
}